.page {
  margin-top: 2rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
}

.notPaymentsTitle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: auto;

  padding-top: calc(200px - 2rem);
}
